.MuiButton-outlinedPrimary {
  color: #2f4051 !important;
  border: 1px solid #2f4051 !important;
}
.leftColumn {
  width: 35%;
}

.rightColumn {
  width: 35%;
}

.innerForm {
  position: relative;
}

.form_title {
  display: flex;
  align-items: center;

  &__calendar {
    display: flex;
    align-items: center;
  }
  &__icon {
    cursor: pointer;
  }
}

.form {
  .column {
    width: 40%;

    h4 {
      margin: 60px 0 35px;
    }

    &__inner {
      display: block;
      flex-flow: column;
      column-count: 1;
    }
  }

  .form_input {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  #form_input-10 {
    margin-bottom: 13.6px;
  }
  .outputData {
    width: 40%;
    margin: 115px 0 35px;
  }

  .formTextarea {
    margin: 40px 0 !important;
    width: 80%;
    height: auto !important;
    display: flex !important;
  }
}
