.MuiOutlinedInput-input {
  padding: 18.5px 5px;
}

.column_outter {
  width: 100%;
}

.MuiFormControl-root {
  display: block !important;
  margin: 1px !important;
}

.form_title__icon {
  background-color: #57718c;
  margin: 0 55px;
  color: white;
  padding: 1px 10px;
  display: flex;
  align-items: center;
}
.form_title__icon--today {
  margin: -45px;
  background-color: #57718c;
  color: white;
  padding: 1px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form_title__dateRight--outter {
  margin: auto;
}
.form_title__dateRight {
  background-color: #57718c;
  color: white;
  padding: 4px 10px;
  margin-left: 10px;
}
.MuiDialogContent-root {
  padding: 0px !important;
}
.outPutTable {
  border: 1px solid #d9d8d9;
  padding: 10px 7px;
  display: block;
  height: auto;
  width: auto;
  background: #f5f5db;

  label {
    color: #97b479;
    border-bottom: 1px solid #b0e6ff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
    font-size: 18px;
  }

  .form_input:nth-child(odd) {
    background: #ffecce;
    border: none;
    margin: 0;
  }

  .form_input:nth-child(even) {
    background: #f5f5db;
    border: none;
    margin: 0;
  }

  .form_input .input__label {
    width: 100% !important;
    padding-right: 70px;
  }

  .form_input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 5px;
  }
  .form_input {
    justify-content: space-between;
  }

  &__button {
    background: transparent;
    color: black;
    border-radius: 0px;
    position: absolute;
    right: 105px;
    top: 53px;
  }

  &__button .MuiButton-root {
    text-transform: unset;
  }

  &__button button {
    outline: none;
  }

  &__close {
    cursor: pointer;
    float: right;
    margin: 5px;
    position: absolute;
    right: 0;
  }
}
.calculated_type {
  padding-left: 5px;
}
.form {
  h4 {
    color: #57718c !important;
  }

  padding: 25px;
  .column {
    float: left;
    /* padding: 10px; */
  }

  .form_input {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    .input__label {
      font-size: 13px;
      min-width: 152px;
      max-width: 152px;
      // word-break: break-all;
      margin-right: 20px;
    }
  }

  .inputs_flex {
    display: -webkit-inline-box;
    align-items: center;
  }
  .input__labelEnd {
    margin-left: 8px;
    display: flex;
    align-items: baseline;
  }

  .custom_textfield .MuiOutlinedInput-root {
    position: relative;
    border-radius: 0px;
    height: 35px;
    width: 80px;
  }

  .custom_textfield .MuiInputLabel-formControl {
    top: -8px;
    font-size: 13px;
  }

  .custom_textfield .MuiInputLabel-shrink {
    top: 0px;
  }
}

@media screen and (max-width: 1360px) {
  .column_outter {
    width: 90%;
  }

  .Sidebar {
    width: 190px;
  }

  .form .inputs_flex {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  .form_title__icon {
    margin: 0 25px;
  }

  .form_title__icon--today {
    margin: -5px;
  }

  .form .form_input .input__label {
    min-width: 95px;
    max-width: 95px;
  }
}
