.MuiButton-outlinedPrimary {
  color: #2f4051 !important;
  border: 1px solid #2f4051 !important;
}
.leftColumn {
  width: 35%;
}

.rightColumn {
  width: 35%;
}

.innerForm {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.form_title {
  display: flex;
  align-items: center;

  &__calendar {
    margin-left: 100px;
    display: flex;
    align-items: center;
  }
  &__icon {
    cursor: pointer;
  }

  &__dateRight {
    margin: auto;
    font-weight: bold;
  }
}

.form {
  .leftColumn {
    width: 60%;
    margin-top: 16px;
    display: block;

    &__inner {
      display: block;
      flex-flow: column;
      column-count: 2;
    }
  }

  .form_input {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  #form_input-10 {
    margin-bottom: 13.6px;
  }
  .outputData {
    width: 40%;
    margin-top: 16px;
  }

  .formTextarea {
    margin: 40px 0;
    width: 80%;
    height: auto !important;
  }
}
