.MuiButton-outlinedPrimary {
  color: #2f4051 !important;
  border: 1px solid #2f4051 !important;
}
.leftColumn {
  width: 35%;
}

.rightColumn {
  width: 35%;
}

.innerForm {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.form_title {
  display: flex;
  align-items: center;

  &__calendar {
    display: flex;
    align-items: center;
  }
  &__icon {
    cursor: pointer;
  }
}

.form {
  .leftColumn {
    width: 100%;
    display: block;

    h4 {
      margin: 60px 0 35px;
    }

    &__inner {
      display: block;
      flex-flow: column;
      column-count: 2;
    }
  }

  .form_input_finalEffluent {
    // display: block !important;
  }

  .form_input {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  #form_input-10 {
    margin-bottom: 13.6px;
  }
  .outputData {
    width: 40%;
    margin: 115px 0 35px;
  }

  .formTextarea {
    margin: 40px 0 !important;
    width: 80%;
    height: auto !important;
    display: flex !important;
  }
}

@media screen and (max-width: 1360px) {
  .form {
    .leftColumn {
      width: 75%;
      display: block;
    }
  }
}
